.app-container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}